In [2]:
import pandas as pd
import json
import requests
import numpy as np
import matplotlib.pyplot as plt
from api_key import api_key

NIBRS
Provides details regarding the National Incident Based Reporting System. Provides offender data for an offense in instances when some aspect about the offender was known, e.g., age, sex, race, ethnicity. In cases involving multiple-offense incidents, each offender is counted more than once.

In [3]:

al_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/AL/all/offense/weapons?API_KEY={api_key}'
al_response = requests.get(al_url).json()
ak_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/AK/all/offense/weapons?API_KEY={api_key}'
ak_response = requests.get(ak_url).json()
az_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/AZ/all/offense/weapons?API_KEY={api_key}'
az_response = requests.get(az_url).json()
ar_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/AR/all/offense/weapons?API_KEY={api_key}'
ar_response = requests.get(ar_url).json()
ca_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/CA/all/offense/weapons?API_KEY={api_key}'
ca_response = requests.get(ca_url).json()
co_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/CO/all/offense/weapons?API_KEY={api_key}'
co_response = requests.get(co_url).json()
ct_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/CT/all/offense/weapons?API_KEY={api_key}'
ct_response = requests.get(ct_url).json()
de_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/DE/all/offense/weapons?API_KEY={api_key}'
de_response = requests.get(de_url).json()
fl_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/FL/all/offense/weapons?API_KEY={api_key}'
fl_response = requests.get(fl_url).json()
ga_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/GA/all/offense/weapons?API_KEY={api_key}'
ga_response = requests.get(ga_url).json()
hi_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/HI/all/offense/weapons?API_KEY={api_key}'
hi_response = requests.get(hi_url).json()
id_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/ID/all/offense/weapons?API_KEY={api_key}'
id_response = requests.get(id_url).json()
il_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/IL/all/offense/weapons?API_KEY={api_key}'
il_response = requests.get(il_url).json()
in_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/IN/all/offense/weapons?API_KEY={api_key}'
in_response = requests.get(in_url).json()
ia_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/IA/all/offense/weapons?API_KEY={api_key}'
ia_response = requests.get(ia_url).json()
ks_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/KS/all/offense/weapons?API_KEY={api_key}'
ks_response = requests.get(ks_url).json()
ky_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/KY/all/offense/weapons?API_KEY={api_key}'
ky_response = requests.get(ky_url).json()
la_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/LA/all/offense/weapons?API_KEY={api_key}'
la_response = requests.get(la_url).json()
me_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/ME/all/offense/weapons?API_KEY={api_key}'
me_response = requests.get(me_url).json()
md_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/MD/all/offense/weapons?API_KEY={api_key}'
md_response = requests.get(md_url).json()
ma_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/MA/all/offense/weapons?API_KEY={api_key}'
ma_response = requests.get(ma_url).json()
mi_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/MI/all/offense/weapons?API_KEY={api_key}'
mi_response = requests.get(mi_url).json()   
mn_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/MN/all/offense/weapons?API_KEY={api_key}'
mn_response = requests.get(mn_url).json()
ms_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/MS/all/offense/weapons?API_KEY={api_key}'
ms_response = requests.get(ms_url).json()
mo_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/MO/all/offense/weapons?API_KEY={api_key}'
mo_response = requests.get(mo_url).json()
mt_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/MT/all/offense/weapons?API_KEY={api_key}'
mt_response = requests.get(mt_url).json()
ne_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/NE/all/offense/weapons?API_KEY={api_key}'
ne_response = requests.get(ne_url).json()
nv_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/NV/all/offense/weapons?API_KEY={api_key}'
nv_response = requests.get(nv_url).json()
nh_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/NH/all/offense/weapons?API_KEY={api_key}'
nh_response = requests.get(nh_url).json()
nj_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/NJ/all/offense/weapons?API_KEY={api_key}'  
nj_response = requests.get(nj_url).json()
nm_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/NM/all/offense/weapons?API_KEY={api_key}'
nm_response = requests.get(nm_url).json()
ny_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/NY/all/offense/weapons?API_KEY={api_key}'
ny_response = requests.get(ny_url).json()
nc_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/NC/all/offense/weapons?API_KEY={api_key}'
nc_response = requests.get(nc_url).json()
nd_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/ND/all/offense/weapons?API_KEY={api_key}'
nd_response = requests.get(nd_url).json()
oh_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/OH/all/offense/weapons?API_KEY={api_key}'
oh_response = requests.get(oh_url).json()
ok_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/OK/all/offense/weapons?API_KEY={api_key}'
ok_response = requests.get(ok_url).json()
or_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/OR/all/offense/weapons?API_KEY={api_key}'
or_response = requests.get(or_url).json()
pa_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/PA/all/offense/weapons?API_KEY={api_key}'
pa_response = requests.get(pa_url).json()
ri_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/RI/all/offense/weapons?API_KEY={api_key}'
ri_response = requests.get(ri_url).json()
sc_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/SC/all/offense/weapons?API_KEY={api_key}'
sc_response = requests.get(sc_url).json()
sd_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/SD/all/offense/weapons?API_KEY={api_key}'
sd_response = requests.get(sd_url).json()
tn_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/TN/all/offense/weapons?API_KEY={api_key}'
tn_response = requests.get(tn_url).json()
tx_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/TX/all/offense/weapons?API_KEY={api_key}'
tx_response = requests.get(tx_url).json()
ut_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/UT/all/offense/weapons?API_KEY={api_key}'
ut_response = requests.get(ut_url).json()
vt_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/VT/all/offense/weapons?API_KEY={api_key}'
vt_response = requests.get(vt_url).json()
va_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/VA/all/offense/weapons?API_KEY={api_key}'
va_response = requests.get(va_url).json()
wa_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/WA/all/offense/weapons?API_KEY={api_key}'
wa_response = requests.get(wa_url).json()
wv_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/WV/all/offense/weapons?API_KEY={api_key}'
wv_response = requests.get(wv_url).json()
wi_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/WI/all/offense/weapons?API_KEY={api_key}'
wi_response = requests.get(wi_url).json()
wy_url = f'https://api.usa.gov/crime/fbi/cde/nibrs/state/WY/all/offense/weapons?API_KEY={api_key}'
wy_response = requests.get(wy_url).json()

In [4]:
al_df = pd.DataFrame(al_response['data'])
ak_df = pd.DataFrame(ak_response['data'])
az_df = pd.DataFrame(az_response['data'])
ar_df = pd.DataFrame(ar_response['data'])
ca_df = pd.DataFrame(ca_response['data'])
co_df = pd.DataFrame(co_response['data'])
ct_df = pd.DataFrame(ct_response['data'])
de_df = pd.DataFrame(de_response['data'])
fl_df = pd.DataFrame(fl_response['data'])
ga_df = pd.DataFrame(ga_response['data'])
hi_df = pd.DataFrame(hi_response['data'])
id_df = pd.DataFrame(id_response['data'])
il_df = pd.DataFrame(il_response['data'])
in_df = pd.DataFrame(in_response['data'])
ia_df = pd.DataFrame(ia_response['data'])
ks_df = pd.DataFrame(ks_response['data'])
ky_df = pd.DataFrame(ky_response['data'])
la_df = pd.DataFrame(la_response['data'])
me_df = pd.DataFrame(me_response['data'])
md_df = pd.DataFrame(md_response['data'])
ma_df = pd.DataFrame(ma_response['data'])
mi_df = pd.DataFrame(mi_response['data'])
mn_df = pd.DataFrame(mn_response['data'])
ms_df = pd.DataFrame(ms_response['data'])
mo_df = pd.DataFrame(mo_response['data'])
mt_df = pd.DataFrame(mt_response['data'])
ne_df = pd.DataFrame(ne_response['data'])
nv_df = pd.DataFrame(nv_response['data'])
nh_df = pd.DataFrame(nh_response['data'])
nj_df = pd.DataFrame(nj_response['data'])
nm_df = pd.DataFrame(nm_response['data'])
ny_df = pd.DataFrame(ny_response['data'])
nc_df = pd.DataFrame(nc_response['data'])
nd_df = pd.DataFrame(nd_response['data'])
oh_df = pd.DataFrame(oh_response['data'])
ok_df = pd.DataFrame(ok_response['data'])
or_df = pd.DataFrame(or_response['data'])
pa_df = pd.DataFrame(pa_response['data'])
ri_df = pd.DataFrame(ri_response['data'])
sc_df = pd.DataFrame(sc_response['data'])
sd_df = pd.DataFrame(sd_response['data'])
tn_df = pd.DataFrame(tn_response['data'])
tx_df = pd.DataFrame(tx_response['data'])
ut_df = pd.DataFrame(ut_response['data'])
vt_df = pd.DataFrame(vt_response['data'])
va_df = pd.DataFrame(va_response['data'])
wa_df = pd.DataFrame(wa_response['data'])
wv_df = pd.DataFrame(wv_response['data'])
wi_df = pd.DataFrame(wi_response['data'])
wy_df = pd.DataFrame(wy_response['data'])

In [5]:
al_df['State']='AL'
al_df.tail()

,data_year,Unknown,None,Other,Firearm (Automatic),Handgun (Automatic),Rifle (Automatic),Rifle,Shotgun (Automatic),Other Firearm (Automatic),...,Knife/Cutting Instrument,Blunt Object,Motor Vehicle,Personal Weapons,Poison,Explosives,Fire/Incendiary Device,Drugs/Narcotics/Sleeping Pills,Asphyxiation,State
176,2021,33,179,115,70,125,5,10,0,1,...,55,21,0,164,1,1,0,1,1,AL
177,2021,9,73,11,0,0,0,0,0,0,...,1,1,0,50,0,0,0,0,0,AL
178,2021,630,12266,3723,0,0,0,0,0,0,...,0,0,0,10305,0,0,0,0,0,AL
179,2021,8,143,24,1,0,0,0,0,0,...,3,2,0,64,0,0,0,2,0,AL
180,2021,11,907,38,204,552,12,27,3,4,...,48,30,0,8,1,4,1,4,0,AL

In [6]:
ak_df['State']='AK'
az_df['State']='AZ'
ar_df['State']='AR'
ca_df['State']='CA'
co_df['State']='CO'
ct_df['State']='CT'
de_df['State']='DE'
fl_df['State']='FL'
ga_df['State']='GA'
hi_df['State']='HI'
id_df['State']='ID'
il_df['State']='IL'
in_df['State']='IN'
ia_df['State']='IA'
ks_df['State']='KS'
ky_df['State']='KY'
la_df['State']='LA'
me_df['State']='ME'
md_df['State']='MD'
ma_df['State']='MA'
mi_df['State']='MI'
mn_df['State']='MN'
ms_df['State']='MS'
mo_df['State']='MO'
mt_df['State']='MT'
ne_df['State']='NE'
nv_df['State']='NV'
nh_df['State']='NH'
nj_df['State']='NJ'
nm_df['State']='NM'
ny_df['State']='NY'
nc_df['State']='NC'
nd_df['State']='ND'
oh_df['State']='OH'
ok_df['State']='OK'
or_df['State']='OR'
pa_df['State']='PA'
ri_df['State']='RI'
sc_df['State']='SC'
sd_df['State']='SD'
tn_df['State']='TN'
tx_df['State']='TX'
ut_df['State']='UT'
vt_df['State']='VT'
va_df['State']='VA'
wa_df['State']='WA'
wv_df['State']='WV'
wi_df['State']='WI'
wy_df['State']='WY'

In [7]:
national_crime_df = pd.concat([al_df, ak_df, az_df, ar_df, ca_df, co_df, ct_df, de_df, fl_df, ga_df, hi_df, id_df, il_df, in_df, ia_df, ks_df, ky_df, la_df, me_df, md_df, ma_df, mi_df, mn_df, ms_df, mo_df, mt_df, ne_df, nv_df, nh_df, nj_df, nm_df, ny_df, nc_df, nd_df, oh_df, ok_df, or_df, pa_df, ri_df, sc_df, sd_df, tn_df, tx_df, ut_df, vt_df, va_df, wa_df, wv_df, wi_df, wy_df], axis=0, ignore_index=True)
national_crime_df.tail(20)

,data_year,Unknown,None,Other,Firearm (Automatic),Handgun (Automatic),Rifle (Automatic),Rifle,Shotgun (Automatic),Other Firearm (Automatic),...,Knife/Cutting Instrument,Blunt Object,Motor Vehicle,Personal Weapons,Poison,Explosives,Fire/Incendiary Device,Drugs/Narcotics/Sleeping Pills,Asphyxiation,State
10846,2020,0,1,1,0,0,0,0,0,0,...,4,0,0,1,0,0,0,0,0,WY
10847,2020,0,4,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,WY
10848,2020,20,133,66,0,0,0,0,0,0,...,0,0,0,495,0,0,0,0,0,WY
10849,2020,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,WY
10850,2020,0,0,4,0,1,0,1,0,0,...,2,0,0,0,0,0,1,0,0,WY
10851,2021,12,9,37,0,0,0,12,0,0,...,121,64,0,131,0,0,3,3,21,WY
10852,2021,7,47,7,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,WY
10853,2021,9,89,1,0,0,0,0,0,0,...,0,0,0,112,0,0,0,2,0,WY
10854,2021,0,3,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,WY
10855,2021,0,4,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,WY
10856,2021,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,WY
10857,2021,1,21,7,0,0,0,1,0,0,...,5,2,0,26,0,0,0,0,1,WY
10858,2021,2,0,1,0,0,0,0,0,0,...,3,0,0,5,0,0,0,1,0,WY
10859,2021,0,0,2,0,1,0,0,0,0,...,0,0,0,0,0,0,0,8,0,WY
10860,2021,13,94,9,0,0,0,0,0,0,...,0,2,0,129,0,0,0,2,2,WY
10861,2021,0,2,4,0,0,1,1,0,0,...,4,5,0,15,0,1,0,0,1,WY
10862,2021,2,9,2,0,0,0,0,0,0,...,0,0,0,5,0,0,0,0,0,WY
10863,2021,49,178,225,0,0,0,0,0,0,...,0,0,0,2822,0,0,0,0,0,WY
10864,2021,1,9,1,0,0,0,0,0,0,...,0,1,0,7,0,0,0,0,0,WY
10865,2021,4,0,10,0,0,0,12,0,0,...,22,0,0,0,0,8,1,0,0,WY

In [8]:
national_crime_df.sort_values(by=['data_year'], inplace=True)
national_crime_df.head(20)

,data_year,Unknown,None,Other,Firearm (Automatic),Handgun (Automatic),Rifle (Automatic),Rifle,Shotgun (Automatic),Other Firearm (Automatic),...,Knife/Cutting Instrument,Blunt Object,Motor Vehicle,Personal Weapons,Poison,Explosives,Fire/Incendiary Device,Drugs/Narcotics/Sleeping Pills,Asphyxiation,State
0,1991,9,0,8491,0,0,0,202,0,0,...,3579,0,0,3482,0,0,0,0,0,AL
2182,1991,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,IL
2183,1991,0,4,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,IL
2184,1991,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,IL
7617,1991,25,1,49,0,79,1,117,0,0,...,886,147,0,3,0,4,2,0,0,SC
7616,1991,0,5,2,0,0,0,0,0,0,...,19,1,0,346,0,0,0,0,0,SC
7615,1991,260,97,751,0,0,0,0,0,0,...,0,0,0,39630,0,0,0,0,0,SC
7614,1991,2,1,11,0,0,0,0,0,0,...,4,12,0,107,0,0,0,0,0,SC
7613,1991,196,61,121,0,48,0,40,0,0,...,659,405,0,2482,0,1,3,2,0,SC
7612,1991,23,55,16,0,0,0,2,0,0,...,148,25,0,1719,0,0,2,1,0,SC
7611,1991,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,SC
6165,1991,5,36,3,0,0,0,1,0,0,...,25,12,0,52,0,0,0,0,0,ND
7609,1991,13,21,7,0,2,1,7,0,0,...,76,9,0,330,0,0,0,0,0,SC
7608,1991,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,SC
7607,1991,10,16,3,0,0,0,0,0,0,...,12,0,0,994,0,0,0,0,0,SC
7606,1991,2,12,1,0,0,0,1,0,0,...,1,0,0,15,0,0,0,0,0,SC
7605,1991,201,7,1381,1,84,5,404,2,0,...,5544,6250,0,4838,16,3,52,3,0,SC
6176,1991,5,61,0,0,1,0,0,0,0,...,3,0,0,0,0,0,0,0,0,ND
6175,1991,1,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ND
6174,1991,50,1010,17,0,0,0,0,0,0,...,0,0,0,369,0,0,0,0,0,ND

In [9]:
national_crime_df.drop(columns=['Unknown', 'None', 'Other', 'Knife/Cutting Instrument', 'Blunt Object', 'Motor Vehicle', 'Personal Weapons', 'Poison', 'Explosives', 'Fire/Incendiary Device', 'Drugs/Narcotics/Sleeping Pills', 'Asphyxiation'], inplace=True)
national_crime_df.head()

,data_year,Firearm (Automatic),Handgun (Automatic),Rifle (Automatic),Rifle,Shotgun (Automatic),Other Firearm (Automatic),Pushed or Thrown Out Window,Drowning,Strangulation - Include Hanging,Unarmed,Firearm,Handgun,Shotgun,Other Firearm,Lethal Cutting Instrument,Club/Blackjack/Brass Knuckles,State
0,1991,0,0,0,202,0,0,0,0,0,0,884,4689,573,0,0,0,AL
2182,1991,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,IL
2183,1991,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,IL
2184,1991,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,IL
7617,1991,0,79,1,117,0,0,0,0,0,0,162,2291,272,51,0,0,SC

In [10]:
national_crime_df.drop(columns=['Pushed or Thrown Out Window', 'Drowning', 'Strangulation - Include Hanging', 'Unarmed', 'Lethal Cutting Instrument', 'Club/Blackjack/Brass Knuckles'], inplace=True)
national_crime_df.head()

,data_year,Firearm (Automatic),Handgun (Automatic),Rifle (Automatic),Rifle,Shotgun (Automatic),Other Firearm (Automatic),Firearm,Handgun,Shotgun,Other Firearm,State
0,1991,0,0,0,202,0,0,884,4689,573,0,AL
2182,1991,0,0,0,0,0,0,0,0,0,0,IL
2183,1991,0,0,0,0,0,0,0,0,0,0,IL
2184,1991,0,1,0,0,0,0,1,0,0,0,IL
7617,1991,0,79,1,117,0,0,162,2291,272,51,SC

In [11]:
id = np.arange(1, len(national_crime_df)+1)
national_crime_df['id'] = id
national_crime_df.head()

,data_year,Firearm (Automatic),Handgun (Automatic),Rifle (Automatic),Rifle,Shotgun (Automatic),Other Firearm (Automatic),Firearm,Handgun,Shotgun,Other Firearm,State,id
0,1991,0,0,0,202,0,0,884,4689,573,0,AL,1
2182,1991,0,0,0,0,0,0,0,0,0,0,IL,2
2183,1991,0,0,0,0,0,0,0,0,0,0,IL,3
2184,1991,0,1,0,0,0,0,1,0,0,0,IL,4
7617,1991,0,79,1,117,0,0,162,2291,272,51,SC,5

In [12]:
crime_df = national_crime_df.copy()
crime_df['Total_Shootings'] = crime_df['Firearm (Automatic)'] + crime_df['Handgun (Automatic)'] + crime_df['Rifle (Automatic)']+ crime_df['Rifle'] + crime_df['Shotgun (Automatic)'] + crime_df['Other Firearm (Automatic)'] + crime_df['Firearm'] + crime_df['Handgun'] + crime_df['Shotgun'] + crime_df['Other Firearm']
crime_df.head()

,data_year,Firearm (Automatic),Handgun (Automatic),Rifle (Automatic),Rifle,Shotgun (Automatic),Other Firearm (Automatic),Firearm,Handgun,Shotgun,Other Firearm,State,id,Total_Shootings
0,1991,0,0,0,202,0,0,884,4689,573,0,AL,1,6348
2182,1991,0,0,0,0,0,0,0,0,0,0,IL,2,0
2183,1991,0,0,0,0,0,0,0,0,0,0,IL,3,0
2184,1991,0,1,0,0,0,0,1,0,0,0,IL,4,2
7617,1991,0,79,1,117,0,0,162,2291,272,51,SC,5,2973

In [15]:
crime_df.drop(columns=['Firearm (Automatic)', 'Handgun (Automatic)', 'Rifle (Automatic)', 'Rifle', 'Shotgun (Automatic)', 'Other Firearm (Automatic)', 'Firearm', 'Handgun', 'Shotgun', 'Other Firearm'], inplace=True)
crime_df.head()

      data_year State  id  Total_Shootings
0          1991    AL   1             6348
2182       1991    IL   2                0
2183       1991    IL   3                0
2184       1991    IL   4                2
7617       1991    SC   5             2973

In [19]:
crime_df.to_csv('../Resources/Crime_Data/national_crime.csv', index=False)